[submodule "CA1"]
	path = CA1
	url = https://github.com/SM2A/Software_Testing_CA1
[submodule "CA2"]
	path = CA2
	url = https://github.com/SM2A/Software_Testing_CA1
[submodule "CA3"]
	path = CA3
	url = https://github.com/SM2A/Software_Testing_CA1
[submodule "CA4"]
	path = CA4
	url = https://github.com/SM2A/Software_Testing_CA1
[submodule "CA5"]
	path = CA5
	url = https://github.com/SM2A/Software_Testing_CA1
[submodule "CA6"]
	path = CA6
	url = https://github.com/SM2A/Software_Testing_CA1
